# Python
__pycache__/
*.py[cod]
*$py.class
Pipfile*

# Virtual Environments
.venv/
venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#gemini-aux
gemini-aux/
temporary_scripts/
